p {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.about-container {
  width: 100%;
  min-height: 400px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
