html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
}
.coingecko-limit {
  font-weight: bold;
  font-size: medium;
  color: Red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  margin-top: 20px;
}
.coingecko-limit button {
  font-size: 1rem;
  align-items: center;
  height: 30px;
  border-radius: 0.4rem;
  font-weight: 600;
  padding: 0 1.2rem;
  color: #ddd;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
  background: red;
}
.coingecko-limit button:hover {
  background: #2b2a2a;
}

.centered-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  width: 100%;
  min-height: 400px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.main-content {
  padding: 20px;
  margin-bottom: 50px;
}
.portfolio-container {
  width: 100%;
  min-height: 400px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outer-wrapper {
  font-family: verdana;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  background-color: rgb(212, 211, 211);
  padding: 20px;
  box-sizing: border-box;
}

.content-wrapper {
  background-color: white;
  padding: 20px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}

.heading-layout {
  margin-top: 100;
}
